@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-text-100 bg-bg-100;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
